//
// Navigation
// --------------------------------------------------

.navbar {
  font-weight: 100;
  border-bottom: 0;
  margin-top: 70px !important;
  margin-bottom:50px !important;
}

.region-navigation{
  text-align: center;

  .menu {
    // general styles
    .menu__item{
      width: 100%;
    }
    .menu__link{
      color: white;
      padding: $main-menu-link-padding;
      font-size: $main-menu-font-size;
    }
    // home link
    a[data-drupal-link-system-path="<front>"]{
      @extend .text-hide;
      width:100% !important;
      padding: 0;
      background: url("../../covlogo.png") no-repeat center;
    }
  }

  // Responsive styles
  @media screen and (min-width: $screen-sm) {
    
    
    a[data-drupal-link-system-path="<front>"]{
      width:70% !important;
      padding: 10;
      background: url("../../covlogo.png") no-repeat center;
    }
  }

  // Using bootstrap defined containers adjust left spacing
  @media screen and (min-width: $screen-sm) {
    padding-left: calc((100vw - #{$container-sm}) / 2);
  }
  @media screen and (min-width: $screen-md) {
    padding-left: calc((100vw - #{$container-md}) / 2);
  }
  @media screen and (min-width: $screen-lg) {
    padding-left: calc((100vw - #{$container-lg}) / 2);
  }
}
